header {
  position: sticky;
  top: 0;
  z-index: 11;
  display: grid;
  grid-template-columns: minmax(130px, auto) 1fr;
  gap: 30px;
  height: 80px;
  width: 100%;
  padding: 10px;
  background-color: white;
  overflow: unset;
}

.container a.logo {
  display: block;
  width: 150px;
}

header a {
  text-decoration: none;
}

header nav {
  text-align: right;
}

header nav a {
  display: inline-block;
  padding: 5px 15px;
}

header nav a:hover {
  text-decoration: underline;
}

div#mainHeader{
  background-image: url("assets/bg.jpg");
  background-color: rgba(0,0,100,100);
  padding: 0;
  margin: 0;
  background-blend-mode:hard-light;
}

div#mainHeader .test{
  
  background: linear-gradient(rgba(0,0,100,.2), rgba(0,0,30,.9));
  width: 100%;
  padding: 0;
  margin: 0;
}
